.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .mobile-scroll-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
